@import 'libs/bootstrap.min';
@import 'libs/fonts';
@import 'base/mixins';
@import 'base/variables';
@import 'libs/iconfonts';


* {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
html, body {
    font-size: 10px;
    color: $base-color;
  }

@import 'blocks/button';
@import 'blocks/title';
@import 'blocks/header';
@import 'blocks/hero';
@import 'blocks/descr';
@import 'blocks/brands';
@import 'blocks/planning';
@import 'blocks/about';
@import 'blocks/blog';
@import 'blocks/faq';
@import 'blocks/getstart';
@import 'blocks/newsletter';
@import 'blocks/stats';
@import 'blocks/carousel';
@import 'blocks/quotes';



