.blog {
    background-color: #F5F8FF;
    padding: 100px 0;
    &__title {
        font-weight: 500;
        margin-top: 20px;
        font-size: 2.4rem;
    }
    &__btn {
        display: inline-block;
        background-color: $mainbg-btn;
        &--transparent {
            background-color: transparent;
            border: none;
            color: #A6B6DA;
        }
    }
    &__form {
        @include flexcenter;
        justify-content: flex-start;
    }
    &__title-slider {
        font-size: 3.6rem;
        font-weight: 400;
        color: $second-color;
    }
    &__descr-slider {
        font-family: 'Roboto';
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 27px;
        padding-right: 150px;
        margin: 30px 0;
    }
    &__carousel-inner {
        margin-top: 90px;
        background-color: #ffffff;
    }
    &__images-wrapper {
        display: flex;
        &--small {
            display: flex;
            flex-direction: column;
            margin-left: 12px;
            justify-content: space-between;
        }
    }
    &__carousel-item {
        max-height: 960px;
        padding: 65px 35px 65px 45px;
    }
/*     &__prev {
        left: -200px !important;
        z-index: 99999999 !important;
    }
    &__next {
        z-index: 99999999 !important;

        right: -200px !important;
    } */
   
}




