.brands {
    &__content {
        padding: 60px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__icon {
        &:hover {
            transition: all 0.3s;
            fill: #5982E7;
        }
    }
}

