.header {
    padding: 33px 70px;
    &__nav-link {
        font-size: 1.2rem;
        color: #697CA6;
    }
    &__socials-item {
        font-size: 1.2rem;
        text-decoration: none;
        color: #697CA6;
    }
}