.newsletter {
    padding: 118px 0;
    &__title {
        margin-bottom: 18px;
        font-family: Quicksand;
font-style: normal;
font-weight: 700;
font-size: 1.8rem;
line-height: 22px;
text-align: left;
color: $second-color;
    }
    &__form {
        height: 50px;
    }
    &__btn {
        color: #fff;
        margin-left: 5px;
        padding: 13px 30px;
    }
    &__input {
        width: 70% !important;
    }
}