.planning {
    background-color: #F5F8FF;
    background: url('../img/planning/illustration.png') no-repeat;
    background-position: right 290%;
    &__content {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 210px 0;
    }
    &__btn {
        color: #fff;
        background-color: #4C85FF;
        &--transparent {
            color: #ADB4D2;
            border-color: #D1D1E4;
        }
        &-group {
        margin-top: 45px;

        }
    }
    &__title {
        margin: 25px 0;
    }
    &__descr {
        padding-right: 170px;
        margin: 0;
    }
}