.quotes {
    background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
    padding: 109px 0;
    &__content {
        padding: 0;
    }
    &__title {
        font-weight: 500;
        margin: 31px 0 15px 0;
    }
    &__descr {
        font-family: 'OpenSans-SemiBold';
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 23px;
    }
}