.stats {
  display: flex;
  &__block {
    &--gray {
      color: #5E80FF;
      background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);

    }
    &--blue {
      background: linear-gradient(229.32deg, #6888ff 12.77%, #5e80ff 73.11%);

        color: #fff;
    }
  }
}
