.stats {
  display: flex;
  &__block {
    &--gray {
      color: #5e80ff;
      background: linear-gradient(101.48deg, #e9efff 41.56%, #e0e9ff 81.53%);
      padding: 66px 0 66px 90px;
    }
    &--blue {
      background: linear-gradient(229.32deg, #6888ff 12.77%, #5e80ff 73.11%);
      padding: 66px 90px 66px 0;
      color: #fff;
    }
  }
  &__numbers {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 48px;
    &--whiteColor {
      color: #fff;
    }
    &--blueColor{
      color: #5e80ff;
      }
  }
  &__descr {
    max-width: 260px;
    font-weight: 500;
    font-size: 1.8rem;
    &--blueColor{
    color: #5e80ff;
    }
    &--whiteColor {
      text-align: right;
      color: #fff;
    }
  }
}

