.label {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
line-height: 12px;
text-transform: uppercase;
color: #3D4F9F;
}

.title {
    font-weight: 300;
    font-size: 4.8rem;
    color: $second-color;
    &__bold {
        font-weight: 400;
        line-height: 60px;
        text-align: center;
    }
}

